ion-card {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 1px 1px rgb(178, 201, 216);
  transition: transform .2s;
}

.ion-flex {
  display: inline-flex;
  text-align: center;
}

ion-card:hover {
  transform: scale(1.1);
}

.logo-icon {
  margin-top: 4px;
  margin-left: 3px;
  opacity: 0.8;
}

/* #Google ion-img{
  height: 45px;
} */

/* #Google, #Facebook, #Instagram, #Twitter {
  margin: auto;
} */